.o-left-offset-2-3{
    text-align: right;
}
@media (max-width: 768px) {

    .o-left-offset-2-3{
        padding-left:0;
        text-align: center;
    }
}
@media (max-width: 667px) {
    .o-left-offset-2-3{
        padding-left:0;
    }
}
.VPC_Right_Sidebar_Skin #vpc-price-container{
    text-align: left;
}
.vpc-action-buttons{
    width: 100% !important;
}
